# dependencies
node_modules/
backend/node_modules/

# env files
.env
.env.*

# logs
*.log
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log

# zip files
*.zip

# OS / editor noise
.DS_Store
.idea/
.vscode/

# local folders
junk/
trash/

# Firebase
.firebase/
service-account.json
**/service-account.json
